{# src/AE/FollowMusclesBundle/Resources/views/Muscles/delete.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Delete Muscle {{ id }}</title>
  </head>
  <body>
    <h1>Muscle n°{{ id }} !</h1>
  </body>
</html>