{# src/AE/FollowMusclesBundle/Resources/views/Muscles/edit.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Edit Muscle {{ id }}</title>
  </head>
  <body>
    <h1>Edit n°{{ id }} !</h1>
  </body>
</html>