{# src/AE/FollowMusclesBundle/Resources/views/Muscles/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Affichage Muscle {{ id }}</title>
  </head>
  <body>
    <h1>Muscle n°{{ id }} !</h1>
    <div>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </div>
  </body>
</html>
